<mat-toolbar color="blue">
    <mat-toolbar-row>
      <a mat-button routerLink="/">
        Merre Néz
      </a>
      <a button mat-button routerLink="/game">
        Game
        <mat-icon>videogame_asset</mat-icon>
      </a>
      <a mat-button routerLink="/score">
        Score
      </a>
      <span style="flex: 1 1;"></span>
      <button mat-button  [matMenuTriggerFor]="menu">
        &nbsp;
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>settings</mat-icon>
          <span>Beállítások</span>
        </button>
        <button mat-menu-item>
          <mat-icon>arrow_back</mat-icon>
          <span>Kijelentkezés</span>
        </button>
      </mat-menu>
  
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="splash-title">{{sCategoryTitle}}</span>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <!-- <div> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span>Site name</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/game">Game</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/game">game</a>
          <a mat-button routerLink="/prices">Prices</a>
          <a mat-button routerLink="/start-page">Start page</a>
          <a mat-button routerLink="/offer">Offer</a>
          <a mat-button routerLink="/contact">asd</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill></mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->

  
  <router-outlet></router-outlet>