#rabbit{
    display: block;
    width: 70px;
    height: 100px;
    background-image: url("../../../assets/il_1140xN.3073532328_oyx0.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.center-rabbit{
    margin-top: 250px;
}
.top-rabbit{
    margin-top: 100px;
}
.bottom-rabbit{
    margin-top: 350px;
}